<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('index.static', filename='css/index.css') }}">
    <script src="{{ url_for('index.static', filename='js/FileUpload.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>File Upload</h1>
        <div class="upload-container">
            <input type="file" id="fileInput">
            <div class="date-container">
                <label for="date">기간</label>
                <select id="date">
                    <option value="1h">1시간</option>
                    <option value="1d" selected>1일</option>
                    <option value="3d">3일</option>
                    <option value="7d">7일</option>
                </select>
            </div>
        </div>
        <button id="uploadButton" class="disabled" onclick="uploadFiles()">Upload</button>
        <div id="link" style="display: none;" class="link-container">
            <p>다운로드 링크:</p>
            <div class="link-box">
                <a id="link-text" target="_blank"></a>
                <button onclick="copyLink()" class="copy-button">복사</button>
            </div>
        </div>
    </div>
    <script>
        function copyLink() {
            const linkText = document.getElementById('link-text');
            navigator.clipboard.writeText(linkText.href);
            alert('링크가 복사되었습니다!');
        }
    </script>
</body>
</html>