<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('index.static', filename='css/index.css') }}">
    <script src="{{ url_for('index.static', filename='js/FileUpload.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>File Upload</h1>
        <input type="file" id="fileInput" multiple>
        <button id="uploadButton" onclick="uploadFiles()">Upload</button>
        <div id="status"></div>
    </div>
</body>
</html>